<section
  class="flex flex-col justify-center items-center h-screen overflow-hidden m-0"
>
  <h1 class="font-bold text-4xl text-center justify-center p-4 m-0">
    Wordcloud game
  </h1>
  <input
    class="p-4 m-4 w-3/4 sm:w-2/4 md:w-2/5 lg:w-2/6 text-xl border-2 border-blue-400 text-blue-600 rounded-md placeholder:text-blue-300"
    type="text"
    placeholder="Enter your nickname"
    [(ngModel)]="name"
    name="name"
  />
  <button
    [ngClass]="!name.trim().length ? 'btn-inactive' : 'btn-active'"
    routerLink="/game"
    (click)="onClickPlay()"
    [disabled]="!name.trim().length"
  >
    Play
  </button>
</section>
