<section
  class="flex flex-col justify-center items-center h-screen overflow-hidden m-0"
>
  <h1 class="font-extrabold text-4xl p-4 m-0">Wordcloud game</h1>
  <input
    class="p-4 m-4 w-80 text-xl border-2 border-blue-400 text-blue-600 rounded-md placeholder:text-blue-300"
    type="text"
    placeholder="Enter your nickname here..."
  />
  <!-- <button
    class="py-2 px-4 m-2 border-2 text-blue-600 hover:text-blue-700 border-blue-400 hover:bg-blue-200 active:bg-blue-300 rounded-md"
  >
    Play
  </button> -->
  <a
    href="#"
    class="py-2 px-4 m-2 border-2 text-blue-600 hover:text-blue-700 border-blue-400 hover:bg-blue-200 active:bg-blue-300 rounded-md"
    >Play</a
  >
</section>
<!-- <div>Message: {{ hello$ | async | json }}</div> -->
