/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-active {
  @apply py-2 px-4 m-2 border-2 text-blue-900 hover:text-blue-700 border-blue-400 hover:bg-blue-200 active:bg-blue-300 rounded-md cursor-pointer;
}

.btn-inactive {
  @apply py-2 px-4 m-2 border-2 text-slate-400 bg-slate-200 border-slate-300 cursor-not-allowed rounded-md;
}

.selected {
  @apply bg-blue-300 text-white;
}

.correct {
  @apply bg-emerald-500 text-white relative before:content-['Good'] before:block before:absolute before:-inset-8 before:text-emerald-500;
}

.incorrect {
  @apply bg-red-500 text-white relative before:content-['Bad'] before:block before:absolute before:-inset-8 before:text-red-500;
}
